.add-train-btn {
  width: 500px;
  background-color: #0a3d62;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 14px;
}

/* -------------------- Bookings Table -------------------- */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 15px;
}

thead {
  background: #0a3d62;
  color: white;
}

th, td {
  padding: 15px;
  text-align: left;
  font-size: 15px;
}

.card{
  margin-top: 10px;
}
