.wrapper {
  background: #eef3ff;
  min-height: 100vh;
  font-family: Arial;
}

.header {
  background: #003366;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.irctc-logo {
  width: 45px;
}

.payment-box {
  width: 90%;
  margin: 25px auto;
  display: flex;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* LEFT SIDE */
.left-side {
  width: 28%;
  border-right: 2px solid #ddd;
  padding: 25px;
}

.option {
  padding: 12px;
  margin: 12px 0;
  border-radius: 6px;
  background: #f3f6ff;
  font-size: 18px;
  cursor: pointer;
}

.option.active {
  background: #003366;
  color: white;
}

/* RIGHT SIDE */
.right-side {
  width: 70%;
  padding: 25px;
}

.details-box, .fare-box {
  background: #f5f7ff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #dce2f3;
}

.total {
  font-size: 22px;
  color: #003366;
}

.upi-apps img {
  width: 60px;
  margin-right: 10px;
}

.banks img {
  width: 130px;
  margin: 10px;
}

.input {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #bbb;
}

.pay-btn {
  padding: 12px 30px;
  background: #ff6600;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}
